// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    --ion-color-primary:#2ba8a8;
    --ion-color-secondary:#fa8400;
    --ion-color-tertiary:#9864ff;
}
